body{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}
.header{
    /*font-family:sans-serif, helvetica;*/
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    color:#e5e7eb;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 100px;
}
img{
    display: flex;
    height: auto; 
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    min-width: 0;
}
.hero-text{
    display: flex;
    font-size: 48px;
    font-weight: bold;
    justify-content: center;
    flex-wrap: nowrap;
}
.main-content{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: #1f2937;
    height: 400px;
    align-items: center;
}
.subtext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    display: flex;
    width: 75px;
    border:none;
    background-color: #3882f6;
    border-radius: 12px;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}
.subcontent .information{
    height: 400px;

}
.hero-photo{
    display: flex;
    height: 400px; 
    width: 700px;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 70px;
    min-width: 0;
    flex-basis: 120%;
}
.main-header{
    display:flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    padding: 30px;
}
.photo1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.images{
    display: flex;
    height: 100px;
    width: 250px;
    flex-direction: column;
}
.information{
    display: flex;
    justify-content: center;
    gap:52px;
}
.text{
    display: flex;
    justify-content:space-evenly;

}
.quote {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f3937;
    padding: 50px;
}
.quote-section .author{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px;
    font-size: 28px;
    color: #1f3937;
}
.quote-section{
    background-color: #e5e7eb;
    display: flex;
    height: 300px;
    justify-content: center;
    flex-direction: column;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 50px;
}
.cta .ctabox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width:800px;
    height: 130px;
    border-radius: 20px;
    gap: 50px;
}
.cta .left-side{
    color: #f9faf8;
}

.footer{ 
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}

.cta button{
    display: flex;
    width: 75px;
    border:none;
    /*background-color: #3882f6;*/
    border-radius: 12px;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}